
[submodule "cms"]
	path = cms
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/acf"]
	path = content/plugins/acf
	url = https://github.com/elliotcondon/acf.git
[submodule "content/plugins/contact-form-7"]
	path = content/plugins/contact-form-7
	url = https://github.com/wp-plugins/contact-form-7.git
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = https://github.com/Yoast/wordpress-seo.git
[submodule "content/plugins/google-analytics-for-wordpress"]
	path = content/plugins/google-analytics-for-wordpress
	url = https://github.com/Yoast/google-analytics-for-wordpress.git
[submodule "content/plugins/limit-login-attempts"]
	path = content/plugins/limit-login-attempts
	url = https://github.com/wp-plugins/limit-login-attempts.git
