.branding{
  .branding__title{
    @extend .kilo;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.333em;
    color: $brand-col-2;
    img{
      display: inline-block;
    }
    a{
      color: $brand-col-2;
      text-decoration: none;
    }
  }
  .branding__description{
    @extend .gamma;
    color: white;
    font-weight: normal;
    border-top: solid $brand-col-3--light 2px;
    border-bottom: solid $brand-col-3--light 2px;
    padding: 0;
    margin: 0 auto $base-spacing-unit / 2;
    width: 75%;
    text-transform: uppercase;
    letter-spacing: 0.1em
  }
}

