.options{
  margin-top: $base-spacing-unit;
  .this-or-this__this{
    vertical-align: top;
  }
  > div{
    @extend .lap-and-up-one-third;
    @include media-query(palm){
      display: block;
    }
  }

}
.option{
  @extend .desk-four-fifths;
  transition: box-shadow 0.3s ease,
    width 0.3s ease,
    font-size 0.3s ease;
  background: white;
  color:#333;
  box-shadow: none;
  opacity: 0.9;
  border-radius: 30px 30px 0 30px;
  @include media-query(desk){
    opacity: 1;
  }
  &:hover{
    opacity: 1;
    @include media-query(desk){
      width: 85%;
      box-shadow: 0 1px 5px rgba(#000, 0.5);
      font-size: 1.05em;
    }

  }
}
.option__header{
  background: #eee;
  padding: 1em;
  font-size: 0.6em;
  border-bottom: solid 1px #ccc;
  border-radius: 30px 30px 0 0;
  p{
    margin-bottom: 1em;
  }
}
.option__price-info{
  font-size: 1.2em;
  margin-bottom: 1em;
}
.option__price--month{
  display: block;
  font-size: 2em;
  margin-bottom: 0.2em;
  small{
    font-size: 60%;
  }
}
.option__billing{
  display: block;
  margin-bottom: 0.5em;
}
.option__price--setup{
  font-size: 1.2em;
  display: block;
  small{
    font-size: 60%;
  }
}
.option__body{
  padding: 1em;
  font-size: 0.6em;
  p,dl{
    margin-bottom: 1em;
  }
  dt{
    font-weight: bold;
  }
  dd{
    margin: 0;
  }

  dl{
    position: relative;
    transition: background 0.3s ease;
    background: transparent;
    border: dashed 1px #ccc;
    padding: 0.4em 0;
  }
  dl:hover{
    border: solid 1px #ddd;
    padding: 0.4em 0;
    background: #eee;
  }
}
.option__icon{
  height: 1.2em;
  left: 0.5em;
  position: absolute;
  top: 0.5em;
  width: 1.2em;
  fill: $mynt-red--dark;
}