.site{
  background: transparent;
  overflow: hidden;
}
.site__header--master{
  padding: 0 0 $base-spacing-unit 0;
   overflow: hidden;
  
}
.site__navigation--main{
  background: $brand-col-4;
}
.site__content{
  padding: $base-spacing-unit 0;
}
.site__footer{
  padding: $base-spacing-unit 0;
  background: $brand-col-3;
}
