.navigation{
  display: block;
}
.navigation--main{
  @extend .navigation;
  @extend .container;

}
.navigation--main__menu{
  @extend .one-whole;
  .multi-dropdown{
    @extend %multi-dropdown;
  }
}

[id=nav-responsive]{
  display: block;
  @include media-query(lap-and-up){
    display:none;
  }
}
[id=nav-main]{
  display: none;
  @include media-query(lap-and-up){
    display:block;
  }
}
