.site{
  background: $brand-col-5;
}
.site__header--master{
  padding: $base-spacing-unit 0;
}
.site__navigation--main{
  background: $brand-col-4;
}
.site__content{
  padding: $base-spacing-unit 0;
}
.site__footer{
  padding: $base-spacing-unit 0;
  background: $brand-col-3;
}
