/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  true;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;


$base-font-family:  'source sans pro';



/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$base-font-size:    24px;
$base-line-height:  29px;

/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         48px / 0.64;

$h1-size:           36px / 0.64; // .alpha
$h2-size:           30px / 0.64; // .beta
$h3-size:           24px / 0.64; // .gamma
$h4-size:           20px / 0.64; // .delta
$h5-size:           16px / 0.64; // .epsilon
$h6-size:           14px / 0.64; // .zeta

$milli-size:        12px / 0.64;
$micro-size:        10px / 0.64;


/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/*
BLUE
@color-primary-0: #204875;	 Main Primary color
@color-primary-1: #5578A0;
@color-primary-2: #355C88;
@color-primary-3: #0F355F;
@color-primary-4: #042244;

RED
@color-secondary-1-0: #B34C26;	 Main Secondary color (1)
@color-secondary-1-1: #F59A78;
@color-secondary-1-2: #D06C46;
@color-secondary-1-3: #92310D;
@color-secondary-1-4: #681C00;

GREEN
********
myntmedia Green #186f66;
********
@color-secondary-2-0: #1A7C4F; Main Secondary color (2)
@color-secondary-2-1: #53A982;
@color-secondary-2-2: #319065;
@color-secondary-2-3: #09653B;
@color-secondary-2-4: #004827;

@color-complement-0: #B37B26;	 Main Complement color
@color-complement-1: #F5C478;
@color-complement-2: #D09A46;
@color-complement-3: #925E0D;
@color-complement-4: #683F00;
*/

$mynt-blue: #204875;
$mynt-blue--light: #5578A0;
$mynt-blue--dark: #042244;

$mynt-green: #186f66;
$mynt-green--light: #53A982;
$mynt-green--dark: #004827;

$mynt-red: #B34C26;
$mynt-red--light: #B34C26;
$mynt-red--dark: #92310D;

$brand-col-1: #000;
$brand-col-2: $mynt-blue;
$brand-col-2--light: $mynt-blue--light;
$brand-col-2--dark: $mynt-blue--dark;
$brand-col-3: $mynt-green;
$brand-col-3--light: $mynt-green--light;
$brand-col-3--dark: $mynt-green--dark;
$brand-col-4: $mynt-red;
$brand-col-4--light: $mynt-red--light;
$brand-col-4--dark: $mynt-red--dark;
$brand-col-5: #B37B26;
$brand-col-6: #fff;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        10px!default;